.Sel{margin-bottom: 20px; padding-left :30px; padding-top: 20px; padding-bottom: 20px;}

#Div2{visibility: hidden;}
#Div3{visibility: hidden;}
#Div4{visibility: hidden;}
#Div5{visibility: hidden;}

#schema{
position': fixed;
top: 130%;
left: 70%;
min-height:20%;
max-height:20%;
max-width:20%;
min-width:20%;
}

.form-mid{
	margin-left: 37%
}