.Sel{margin-bottom: 20px; padding-left :30px; padding-top: 20px; padding-bottom: 20px;}

#Div2{visibility: hidden;}
#Div3{visibility: hidden;}
#Div4{visibility: hidden;}
#Div5{visibility: hidden;}

#schema{

top: 130%;
left: 80%;
min-height:15%;
max-height:15%;
max-width:15%;
min-width:15%;
}

form{
     display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.piece, #mat, .image, #valider{
	visibility: hidden;
}

.form-mid{
	margin-left: 37%
}

.margintop{
	margin-top: 13px;
}