.Sel{margin-bottom: 20px; padding-left :30px; padding-top: 20px; padding-bottom: 20px;}

#Div2{visibility: hidden;}
#Div3{visibility: hidden;}
#Div4{visibility: hidden;}
#Div5{visibility: hidden;}

#schema{
    top: 130%;
    left: 72%;
    min-height:40%;
    max-height:40%;
    max-width:25%;
    min-width:25%;
    background: #F9F9F9;
    padding: 25px;
    margin: 10px 0;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

form{
     display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.piece, #mat, .image, #valider{
	visibility: hidden;
}

.form-mid{
	margin-left: 37%
}

.margintop{
	margin-top: 13px;
}

noborder {
    border:none;
}

nomargin{
    margin: 0px 0px 0px 0px;
}

.slidecontainer {
    width: 100%;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 25px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #4CAF50;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #4CAF50;
    cursor: pointer;
}